body {
    background-color: lightblue;
    color: darkblue;
}


.obrázky img {
    max-width: 250px;
    max-height: 300px;
    align-items: space-between;
    align-items: center;
    flex-direction: row;
}


.obrázky {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

div{
    
    font-family: "comic sans MS", cursive, sans-serif;
    text-align: center;
}