body {
    background-color: lightblue;
    text-align: center;
}

.Frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

.Frame img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.Text {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}