body {
    background-color:lightblue;
}



.Frame img {
    width: 200px;
    height: 450px;
    object-fit: contain;
    margin-right: 32px;
}

.Frame {
    display: flex;
    flex-direction: row;
    gap: 16;
}

