@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");

body {
    background-color: rgb(173, 216, 230);
}

.Obrázky {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    gap: 30px;
    margin-top: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
}

.Obrázky img {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.Text {
    text-align: center;
}
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        max-width: 800px;
    }
    
    .container img {
        width: 100%;
        height: auto;
    }
body { 
    border-left: 10vmin solid darkblue;
    border-right: 10vmin solid darkblue;
}